/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensures the body takes up full height */
    margin: 0;
    padding: 10px;
    box-sizing: border-box; /* Ensures padding is included in width and height calculations */
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 20px; /* Provides some space from the top */
}

.form-container h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2em;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#agree {
    width: auto;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    .form-container {
        width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 1.5em;
    }

    input, select, textarea, button {
        font-size: 14px;
        padding: 8px;
    }
}

@media only screen and (max-width: 480px) {
    .form-container {
        width: 100%;
        padding: 10px;
    }

    h1 {
        font-size: 1.2em;
    }

    input, select, textarea, button {
        font-size: 12px;
        padding: 6px;
    }
}
